#page-home {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

main {
    width: 90%;
    margin: 0 auto;
    max-width: 1100px;
}

.float-add-to-list a {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: var(--color-secondary-light);
    border: 2px solid var(--color-primary-dark);
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: aliceblue;
    font-size: xx-large;
    font-weight: 600;
    position: fixed;
    right: 35px;
    bottom: 15px;
}

@media (min-width: 1100px) {
    
    .main-content {
        padding: 2.6rem 0;
        display: grid;
        grid-template-rows: 400px 1fr;
        grid-template-columns: max-content;
        grid-template-areas: "list form";
    }

    .float-add-to-list {
        display: none;
    }
    main {
        width: 100%;
        max-width: 1200px;
    }
}